<div class="city-wrapper">
<% @trips.each do |trip| %>
  
  <a href="/trips/<%=trip.id%>" class="city">
    <p class="city-copy"><%=trip.city%></p>
  </a>

<% end %>
</div>

<i class="material-icons md-light md-96 location show-hid">add_circle</i>

<div class="trot-group add-ct-idx hidden-form">
  <form class="add-form add-city" action="/trips" method="post">
    <label for="">CITY</label>
    <input class="name-ipt" type="text" name="city">
    <label for="">COUNTRY</label>
    <input class="name-ipt" type="text" name="country">

    <button>
      <i class="material-icons md-light md-36 add-icon">add</i>
    </button>
  </form>
</div>


