<div class="city-wrapper">
<% @trips.each do |trip| %>


  <a href="/trips/<%=trip.id%>" class="city">
    <p class="city-copy"><%=trip.city%></p>
  </a>
  
  <form action="/<%= trip.id%>/delete" method="post">
    <input type="hidden" value="delete" name="_method">
      <button class="delete-trot">
        <i class="material-icons smd-light md-24 city-bin">delete_forever</i>
      </button>
  </form>


<% end %>
</div>

<i class="material-icons md-light md-96 location show-hid">add_circle</i>

<div class="trot-group add-ct-idx hidden-form">
  <form class="add-form add-city" action="/trips" method="post">
    <label for="">CITY</label>
    <input class="name-ipt" type="text" name="city">
    <label for="">COUNTRY</label>
    <input class="name-ipt" type="text" name="country">

    <button>
      <i class="material-icons md-light md-36 add-icon">add</i>
    </button>
  </form>
</div>


