<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PLOTATROT</title>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css' type="text/css">
</head>
<body>


  <h1 id="plotatrot"> ⦁ PLOTATROT ⦁ </h1>


<main>
  <%= yield %>
</main>

<script src="/javascripts/application.js"></script> 
</body>
</html>