* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Comfortaa', cursive;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: radial-gradient(#232526, #414345);
   background-repeat: no-repeat;
   padding: 3% 0 10%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#plotatrot {
  font-family: 'Comfortaa';
  font-size: 4em;
  text-shadow: 1px 1px 1px rgba(255,255,255, .5);
  letter-spacing: 0.3em;
  color: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
  margin: 0 auto;
  font-weight: bold;
}

main {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* INDEX PAGE */

.city-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px;
  border-radius: 15px;
  font-size: 5em;
  text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255, .5);
  padding: 20%;
  color: rgba(255, 255, 255, 0.5);
}

.city:nth-child(n+0) {background: linear-gradient(to right, #e55d87, #5fc3e4);}
.city:nth-child(2n+0) {background: linear-gradient(to right, #2b5876, #4e4376);}
.city:nth-child(3n+0) {background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);}
.city:nth-child(4n+0) {background: linear-gradient(to right, #ff5f6d, #ffc371);}
.city:nth-child(5n+0) {background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);}
.city:nth-child(6n+0) {background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);}

.city-copy{
  text-transform: lowercase;
}

/* END OF INDEX PAGE */
/* START SUMMARY PAGE */

.city-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5% 2%;
  margin: 0 auto 5%;
  font-size: 3em;
  text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255, .5);
  color: rgba(255, 255, 255, 0.7);
  background: linear-gradient(217deg, rgba(255, 255, 255, 0), #e55d87, #5fc3e4, rgba(255, 255, 255, 0) 70.71%), 
            linear-gradient(127deg, rgba(255, 255, 255, 0), #40e0d0, #ff8c00, #ff0080, rgba(255, 255, 255, 0) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0), #355c7d, #6c5b7b, #c06c84, rgba(255, 255, 255, 0) 70.71%);
  border-radius: 30px;
 }  /*city header all trot pages*/

 .trot-group {
  position: static;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  padding: 2%;
  margin: 50px auto;
  border: dashed 2px white;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
 }

 .trot-head {
  text-align: center;
  width: 30%;
  padding: 15px;
  text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255, .5);
  font-size: 2.5em;
  background: linear-gradient(217deg, rgba(255, 255, 255, 0.5), #2b5876, #4e4376, rgba(255, 255, 255, 0) 70.71%), 
            linear-gradient(336deg, rgba(255, 255, 255, 0.5), #40e0d0, #ff8c00, #ff0080, rgba(255, 255, 255, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.5), #ff5f6d, #ffc371, rgba(255, 255, 255, 0) 70.71%);
  bottom: 50px;
  position: relative;
  align-self: center;
  border-radius: 5px;
 }

.trot-list {
  padding: 0 10% 5%;
 }

.trots {
  text-transform: uppercase;
  padding: 15px;
  font-size: 1.5em;
}
 /* END OF SUMMARY PAGE */
/*START TROT PAGE*/

.trot {
  width: 60%;
  margin: 20px 0;
  padding: 20px;
  background: mistyrose;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trot:nth-child(n+0) {background: linear-gradient(to right, #e55d87, #5fc3e4);}
.trot:nth-child(2n+0) {background: linear-gradient(to right, #2b5876, #4e4376);}
.trot:nth-child(3n+0) {background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);}
.trot:nth-child(4n+0) {background: linear-gradient(to right, #ff5f6d, #ffc371);}
.trot:nth-child(5n+0) {background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);}
.trot:nth-child(6n+0) {background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);}

.inner-trot {
  width: 100%;
  background: rgba(52, 60, 60, 0.8);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trot-name {
color: rgba(255, 255, 255, 0.9);
text-shadow: 0.5px 0.5px 0.5px rgba(255,255,255, .5);
padding: 10px 0;
text-transform: capitalize;
}

img {
  max-width: 95%;
  padding: 10px;
}

.caption {
  padding: 15px 25px;
}

.comment-box {
  width: 90%;
  background: rgba(254, 249, 231, 0.5);
  padding: 10px; 
  margin: 0 10px 15px;
  line-height: 2;
  font-size: 1.1em;
}

.comment-box>li:nth-child(n+0){color: #283747;}
.comment-box>li:nth-child(2n+0){color: #BA4A00;}
.comment-box>li:nth-child(3n+0){color: #CB4335;}
.comment-box>li:nth-child(4n+0){color: #138D75;}

.comment-form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
}


.comment-name {
  width: 20%;
  text-align: center;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  background: rgba(255, 255, 255, 0.8);

}

.comment-body {
  width: 70%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: rgba(255, 255, 255, 0.8);
}

.submit-comment {
  text-align: center;
  color: white;
  font-size: 1.2em;
  width: 7%;
  background: rgba(255, 255, 255, 0);
}

.delete-trot {background: none}

.material-icons { 
  color: rgba(255, 255, 255, 1); 
  font-size: 24px;
}

.add-head {
  text-align: center;
  width: 30%;
  padding: 15px;
  font-size: 2.5em;
  background: linear-gradient(217deg, rgba(255, 255, 255, 0.5), #2b5876, #4e4376, rgba(255, 255, 255, 0) 70.71%), 
            linear-gradient(336deg, rgba(255, 255, 255, 0.5), #40e0d0, #ff8c00, #ff0080, rgba(255, 255, 255, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.5), #ff5f6d, #ffc371, rgba(255, 255, 255, 0) 70.71%);
  position: relative;
  align-self: center;
  border-radius: 5px;
}

i.location {
  color: rgba(255, 255, 255, 1); 
  margin: 5% 0;
  font-size: 96px;
  margin: 5 % 0;
}

h3.trot-head.add-head {bottom: 75px;}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  position: relative;
  bottom: 25px;
}

.name-ipt, .img-ipt, .capt-ipt {
  width: 60%;
  padding-bottom: 2%;
  margin: 1% 0;
  background: rgba(255, 255, 255, 0.5);
}
button {
  width: 10%;
  background: none;
}

.trot-group.add-ct-idx {
  width: 65%;
  padding: 5% 0 2%;
}

.add-form.add-city { position: static;}

.add-form.add-city > .name-ipt {
  margin: 5% 0;
  position: static;
}

.add-icon.md-36 {
  color: #CB4335;
  font-size: 36px;
  margin: -20% 0 0;
}

/*END OF TROT PAGE*/

.hidden-form {
  display: none;
}
